 .post{
    background-color: var(--blue1);
    display: flex;
    flex-direction: column;
    max-width: 57.5rem;
    padding: 2rem 2.3rem;
    border-radius: 1.25rem;
 }

.header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

 .header > div{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 0.7rem;
 }

 .header > div > img{
    height: 4.5rem;
    width: 4.5rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid var(--blue4) ;
 }

 .header > div div div:first-of-type{
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-bottom: 0.45rem;
 }

 .header > div div div:last-of-type{
    color: #999999;
 }

 .header > time {
   color: #FFFFFF;
   align-self: center;
 }

 .body{
   padding: 3.6rem 0rem;
 }

 .body h1{
   color: #CCCCCC;
   font-size: 1rem;
 }
.form{
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
}

.form > label{
   color: #FFFFFF;
   font-weight: 700;
}

.form > textarea{
   height: 7rem;
   resize: none;
   border-radius: 0.5rem;
   padding: 1rem;
   color: black;
   outline: 0;
   border: 0;
}

.form textarea:focus{
   box-shadow: 0 0 0 .17rem var(--blue5);
}

.form textarea:focus + button{
   display: block;
}


 .form > button{
   display: none;
   width: 8.6rem;
   height: 3rem;
   border-radius: 0.5rem;
   text-align: center;
   background-color: var(--blue5);
   border: 0;
   font-size: 1rem;
   color: #FFFFFF;
 }

 .form button:hover{
   cursor: pointer;
 }